<div class="container">
  <p id="notice"><%= notice %></p>

  <h1 class="text-center">Users</h1>
  <%= link_to 'New User', new_user_path, class: "btn btn-primary" %>
  <div class="card mt-2">
    <table class="table table-bodered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Prize</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.prize %></td>
            <td><%= link_to 'Show', user %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>