<div class="container">
  <div class="card mt-5 pl-2">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Selected Prize:</strong>
      <%= @user.prize %>
    </p>

    <%= link_to 'Back', users_path %>
  </div>
</div>